@import "reset";
@import "mixins";

#main {
  font: normal normal 400;
  font-family: Verdana, sans-serif;
  margin-top: 1em;
  margin-left: 1em;
  line-height: 1.5em;

  @include kjhealy {
    font-size: 80%;
  }

  @include davewhipp {
    font-size: 100%;
    font-family: Avenir, Verdana, sans-serif;
  }

  @include query-print {
    font-size: 14pt;
    line-height: 1.35em;
  }
}

#content {
  position: relative;
  display: block;
  padding: 3em;
}

p {
  position: relative;
  left: 25%;
  margin-right: 0;

  code {
    position: absolute;
    right: -20px
  }

  @include query-print {
    margin-bottom: 0.2em;
  }

  @include kjhealy {
    left: 33%;
    margin-bottom: 0.7em;
    width: 65%;

    code {
      left: -14%;
    }

    @include query-print {
      left: 28%;
      width: 70%;
      code {
        left: -11px
      }
    }
  }

  @include davewhipp {
    width: 55%;
    code {
      text-align: right;
    }
    @include query-print {
      width: 65%;
    }
  }
}

code {
  font: normal normal;
  font-size: 60%;
  font-family: Menlo, monospace, sans-serif;
  color: #aaa;
  @include query-print {
    color: #ccc;
  }

  @include davewhipp {
    font-family: Monaco, Menlo, monospace, sans-serif;
    font-size: 90%;
  }
}

ul {
  position: relative;
  left: 25%;
  width: 75%;
  margin-bottom: 1.5em;
  margin-top: -0.5em;


  @include kjhealy {
    left: 33%;
    width: 65%;

    @include query-print {
      left: 28%;
    }
  }
  @include query-print {
    margin-bottom: 1em;
    margin-top: 0;
  }
}

/*uncomment to get dashes in the list*/
/*li:before {
    content: "-";
    position: relative;
    left: -0.25em;
}*/

li {
  /*second line indent*/
  padding-left: 1.25em;
  text-indent: -1.25em;
  /*color: #777;*/
  ul {
    position: relative;
    left: 0;
    width: 100%;
    margin-top: 0.25em;
  }
}

h1, h2, h3, h4 {
  font-weight: 400;
  font-family: Cousine, Verdana, sans-serif;
  width: 65%;
  @include davewhipp {
    font-family: Avenir, Cousine, Verdana, sans-serif;
    width: 80%;
  }
}

h1 {
  text-align: left;
  font-size: 3em;
  line-height: 1em;
  position: relative;
  left: 25%;

  + span {
    /*subtitle*/

    font-style: italic;
    font-size: 110%;
  }

  @include kjhealy {
    left: 33%;

    @include query-print {
      left: 28%;
    }
  }
}

h2 {
  font-size: 1.1em;
  color: #a00;
  position: relative;
  text-align: right;
  width: 20%;
  margin-top: 3em;
  top: 1.4em;

  @include kjhealy {
    @include query-print {
      width: 18%;
    }
  }

  @include query-print {
    margin-top: 2em;
    top: 1.2em;
  }
}


h3 {
  font-size: 1em;
  line-height: 2em;
  position: relative;
  text-align: right;
  width: 20%;
  top: 1.7em;

  @include query-print {
    top: 1.6em;
    color: #ccc;
  }

  @include kjhealy {
    @include query-print {
      width: 18%;
    }
  }
}

a {
  color: inherit;

  &:hover {
    color: #39f;
  }

  @include query-print {
    text-decoration: none
  }
}

#webaddress {
  margin-top: 1em;
  position: relative;
  left: 25%;
  color: #aaa;
  font-family: Menlo, monospace, sans-serif;
  font-size: 80%;

  a {
    text-decoration: none;
  }

  @include kjhealy {
    left: 33%;
    @include query-print {
      left: 28%;
    }
  }

  @include davewhipp {
    color: #bc412b;
    font-family: Monaco, Menlo, monospace, sans-serif;
    font-size: 90%;
  }

  @include query-print {
    color: #ccc;
  }
}

strong {
  font-weight: bold;
}


em {
  font-weight: bold;
  font-style: italic;

  @include query-print {
    font-weight: normal;
    color: #2d4e5e
  }
}

#address {
  display: none;
}


#ghbutton {
  display: none;
  visibility: hidden;
}
