---
import { name } from '@content';
import BaseHead from '@layouts/BaseHead.astro';
const title = `CV | ${name}`;
---

<html lang="en" data-theme="light">
	<head>
		<BaseHead title={title} />
	</head>
	<body class="bg-background text-text flex flex-col items-center min-h-screen py-24">
		<div class="w-48 md:w-96">
			<img src="error-404.svg" alt="Error 404 represented by cat" class="object-cover w-full h-full" />
		</div>
		<a href="/" class="button-accent font-medium w-fit">Back to safety</a>
	</body>
</html>
