---
import { name } from '@/content';
import BaseHead from '@layouts/BaseHead.astro';
const title = `CV | ${name}`;
---

<html lang="en" data-theme="light">
	<head>
		<BaseHead title={title} />
	</head>
	<body class="flex min-h-screen flex-col items-center bg-background py-24 text-text">
		<div class="w-48 md:w-96">
			<img src="error-404.svg" alt="Error 404 represented by cat" class="h-full w-full object-cover" />
		</div>
		<a href="/" class="button-accent w-fit font-medium">Back to safety</a>
	</body>
</html>
