---
import Container from '@components/Container.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import { name, socialLinks } from '@/content';
import BaseHead from '@layouts/BaseHead.astro';
import { IconMap } from '@lib/style-helper';

const social = Object.entries(socialLinks).map(([name, url]) => ({ name, href: url, icon: IconMap[name] }));
const title = `CV | ${name}`;
---

<html lang="en" data-theme="dark">
	<head>
		<BaseHead title={title} />
	</head>
	<body class="flex min-h-screen flex-col bg-background text-text">
		<Header />

		<!-- Bar Effect -->
		<article class="mx-auto flex h-fit w-[95vw] max-w-3xl flex-nowrap bg-slate-400">
			<div class="h-1.5 w-full bg-primary-900 hover:scale-x-[2]" id="one"></div>
			<div class="h-1.5 w-full bg-accent-900 hover:scale-x-[2]" id="two"></div>
			<div class="h-1.5 w-full bg-secondary-900 hover:scale-x-[2]" id="three"></div>
		</article>

		<main class="mx-auto grid max-h-[90vh] w-[95vw] max-w-3xl flex-grow gap-5 overflow-y-scroll p-5 md:max-h-[70vh]">
			<Container />
		</main>

		<Footer links={social} />

		<style is:global>
			* {
				transition: 350ms ease-in-out;
				font-family: 'Manrope', sans-serif;
			}

			@media only screen and (max-width: 480px) {
				* {
					font-size: 12px;
				}
			}

			/* For webkit-based browsers */
			.overflow-y-scroll::-webkit-scrollbar {
				width: 3px;
			}

			.overflow-y-scroll::-webkit-scrollbar-thumb {
				background-color: #50595e;
			}

			/* For Firefox */
			.overflow-y-scroll {
				scrollbar-width: 1px;
			}
		</style>
	</body>
</html>
