---
import { Icon } from 'astro-icon/components';

const accessToken = import.meta.env.WEB3FORMS_ACCESS_TOKEN;
---

<section id="contact">
	<div class="flex-col gap-x-4 gap-y-8 text-center lg:gap-y-16">
		<h1 class="text-justify text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl">
			Get in touch
		</h1>
		<div class="flex w-full flex-col justify-between gap-8 md:flex-row">
			<form
				action="https://api.web3forms.com/submit"
				method="POST"
				class="mx-auto flex w-2/3 flex-col gap-6 text-left text-text"
			>
				<input type="hidden" name="access_key" value={accessToken} />
				<div>
					<label for="name" class="mb-2 block text-sm font-medium">
						Your name
						<div class="relative">
							<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3.5 text-accent">
								<Icon name="mdi:account" class="h-4 w-4" />
							</div>
							<input
								type="text"
								id="name"
								autocomplete="name"
								name="name"
								class="block w-full rounded-lg border border-primary-600 bg-white p-2.5 pl-10 text-sm focus:border-primary-500 focus:ring-primary-500"
								placeholder="Your full name"
								required
							/>
						</div>
					</label>
				</div>
				<div>
					<label for="email-address-icon" class="mb-2 block text-sm font-medium">
						Your Email
						<div class="relative">
							<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3.5 text-accent">
								<Icon name="mdi:at" class="h-4 w-4" />
							</div>
							<input
								type="email"
								name="email"
								autocomplete="email"
								required
								id="email-address-icon"
								class="block w-full rounded-lg border border-primary-600 bg-white p-2.5 pl-10 text-sm focus:border-primary-500 focus:ring-primary-500"
								placeholder="name@email.com"
							/>
						</div>
					</label>
				</div>
				<div>
					<label for="message" class="mb-2 block text-sm font-medium">
						Your message
						<div class="relative">
							<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3.5 text-accent">
								<Icon name="mdi:message-processing" class="h-4 w-4" />
							</div>
							<textarea
								id="message"
								name="message"
								rows="4"
								required
								class="block w-full rounded-lg border border-primary-600 bg-white p-2.5 pl-10 text-sm focus:border-primary-500 focus:ring-primary-500"
								placeholder="Leave a message..."></textarea>
						</div>
					</label>
				</div>

				<div class="h-captcha self-center md:self-start" data-captcha="true"></div>
				<div class="mb-6 flex items-start">
					<button type="submit" class="button-primary w-full text-sm font-medium sm:w-auto">Submit</button>
				</div>
			</form>

			<div class="w-48 self-center border-primary md:w-96">
				<img src="mention.svg" alt="Person holding a phone" class="h-full w-full object-cover" />
			</div>
		</div>
	</div>
</section>

<script src="https://web3forms.com/client/script.js" async defer></script>
