---
import { name, website } from '@/content';

const pages = [
	{
		title: 'About',
		href: '#about',
	},
	{
		title: 'Skills',
		href: '#skills',
	},
	{
		title: 'Experience',
		href: '#experience',
	},
	{
		title: 'Contact',
		href: '#contact',
	},
];
---

<nav>
	<div class="flex-wrap items-center justify-between pr-0">
		<a href={website} class="flex items-center">
			<span class="self-center whitespace-nowrap text-3xl font-semibold">{name}</span>
		</a>
		<button
			data-collapse-toggle="navbar-default"
			type="button"
			class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-primary hover:bg-accent hover:text-white focus:outline-none focus:ring-2 focus:ring-accent md:hidden"
			aria-controls="navbar-default"
			aria-expanded="false"
		>
			<span class="sr-only">Open main menu</span>
			<svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M1 1h15M1 7h15M1 13h15"></path>
			</svg>
		</button>
		<div class="hidden w-full md:block md:w-auto" id="navbar-default">
			<ul
				class="ml-auto mt-4 flex w-min flex-col rounded-lg bg-accent p-4 text-end font-light drop-shadow-md md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-transparent md:p-0 md:drop-shadow-none"
			>
				{
					pages.map((page) => (
						<li>
							<a
								href={page.href}
								class="block py-2 pl-3 pr-4 text-white hover:text-primary md:bg-transparent md:p-0 md:text-text"
								aria-current="page"
							>
								{page.title}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</div>
</nav>
