---
const { name, level = 1 } = Astro.props;

const LevelMap = ['', 'Beginner', 'Basic', 'Intermediate', 'Proficient', 'Advanced'];
---

<div class="w-full">
	<div class="bg-2 flex flex-row items-start justify-between">
		<div class="font-medium text-tertiary">{name}</div>
		<div class="hidden text-xs font-light text-tertiary md:visible">{LevelMap[level]}</div>
	</div>

	<div class="mb-4 h-4 w-full rounded-full bg-gray-200">
		<div class={`bg-accent h-4 rounded-full w-${level}/5`}></div>
	</div>
</div>
