---
import { buttonColorLookup } from '../lib/style-helper';

const { value, color = 'accent' } = Astro.props;
---

<span class={`text-xs font-medium px-2.5 py-0.5 rounded ${buttonColorLookup[color]}`}>
  {value}
</span>
