.main {
  @apply relative m-4 bg-white print:m-0;

  font-size: 12px;
  line-height: 1.5em;
  font-family: Avenir, Verdana, sans-serif;

  .a4 {
    @apply container mx-auto w-[595px] bg-white px-12 py-16 drop-shadow-2xl print:w-full print:p-0 print:drop-shadow-none;
  }

  .header {
    @apply mb-10 flex items-end justify-between;

    h1 {
      @apply mb-2;
    }

    .data {
      @apply flex flex-col italic text-tertiary-500;

      > * {
        @apply justify-end text-end;
      }

      p {
        @apply flex flex-row gap-1;

        svg {
          @apply h-4 w-4;
        }
      }
    }
  }

  .section {
    @apply mb-8 mt-2;

    > .title {
      @apply grid grid-cols-6 items-end gap-4 text-primary-700;

      &::before {
        @apply col-span-1 mb-1 bg-primary-700;

        height: 6px;
        content: ' ';
      }

      > h3 {
        @apply col-span-5;
      }
    }

    > .block {
      @apply my-2 grid grid-cols-6 gap-4;

      > .date {
        @apply col-span-1 text-right;
      }

      > .information {
        @apply col-span-5;

        > .title {
          > span {
            &::after {
              content: ', ';
            }

            &:last-child::after {
              content: '';
            }
          }
        }

        > .description {
          ul {
            @apply list-[circle] pl-4 marker:text-primary;

            p {
              display: unset;
            }
          }
        }
      }
    }
  }
}
