---
const { frontmatter } = Astro.props;
const theme = 'kjhealy';
import '../styles/cv.scss';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title} CV</title>
	</head>
	<body class={theme}>
		<div id="main">
			<div id="content">
				<slot />
			</div>
		</div>
	</body>
</html>
