# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Test

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: 'npm'

      - name: Cache node_modules
        id: cache_modules
        uses: actions/cache@v4
        with:
          path: ./node_modules
          key: modules-root-${{ hashFiles('package.json') }}-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        if: steps.cache_modules.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts

      - run: npm run format:check
        name: Format Check

      - run: npm run lint
        name: Lint

      - run: npm run build
        name: Build

      - run: npm run coverage
        name: Test

      - name: Upload Coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage

  report:
    needs: test
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          path: coverage
          name: coverage

      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          # or
          # api-token: ${{ secrets.CODACY_API_TOKEN }}
          coverage-reports: 'coverage/lcov.info'

      - name: 'Report Coverage'
        uses: davelosert/vitest-coverage-report-action@v2
